/*Набор стилей для практического задания */
h1 { 
font-family: 'Niconne', cursive; 
font-size: 50px; 
color: #e12527; 
}

h1:before, h1:after { 
content: "\2605"; 
display: inline-block; 
font-size: 60px; 
color: #FFFF00; 
-webkit-animation: my 4s infinite alternate; 
animation: my 4s infinite alternate; 
}

h1:before { 
margin-right: 0.5em; 
}
h1:after { 
margin-left: 0.5em; 
}

@-webkit-keyframes my {
    0%   {color: #2e2f92;}
    25%  {color: #38afaa;}
    50%  {color: #5b59a7;}
    75%  {color: #f7b21c;}
    100% {color: #e12527;}
 }
@keyframes my {
    0%   {color: #2e2f92;}
    25%  {color: #38afaa;}
    50%  {color: #5b59a7;}
    75%  {color: #f7b21c;}
    100% {color: #e12527;}
 }


p    {text-align: center; color: red;}
p:before { 
content: url(http://a.kartinko.org/image_library/1/204686.jpg); 
display: inline-block;
margin-right: 10px; 
}

body {background-color: lightblue; }


table {width: 600px;}
table {
  border-collapse: collapse; 
  line-height: 1.1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
  color: #0C213B;
}
caption {
  font-family: annabelle, cursive;
  font-weight: bold;
  font-size: 2em;
  padding: 10px; 
  color: #F3CD26;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3);
 }
